@font-face {
  font-family: "paybooc-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "paybooc-Medium", "Raleway", sans-serif;
  font-weight: bold;

  * {
    user-select: none;
  }
}

.textInput {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 6px;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  outline: none;
  text-align: center;
  box-sizing: border-box;
  user-select: text;
}

.filter {
  position: relative;
  width: calc(100% - 40px);
  height: 40px;
  margin: 0 auto;

  &.active {
    .ham {
      span {
        &:nth-of-type(1) {
          width: 90%;
        }
        &:nth-of-type(2) {
          width: 70%;
        }
        &:nth-of-type(3) {
          width: 100%;
        }
      }
    }
  }

  .ham {
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    cursor: pointer;

    span {
      position: absolute;
      top: 50%;
      right: 0;
      transition: width 0.2s;
      width: 100%;
      height: 2px;
      background-color: #111;

      &:nth-of-type(1) {
        transform: translateY(-8px);
      }
      &:nth-of-type(2) {
        transform: translateY(-50%);
      }
      &:nth-of-type(3) {
        transform: translateY(7px);
      }
    }
  }

  ul {
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    border-radius: 100px;
    background-color: #f0f0f0;
    box-sizing: border-box;

    @media screen and (min-width: 900px) {
      right: 0;
    }

    @media screen and (max-width: 900px) {
      left: 50%;
      transform: translateX(-50%);
    }

    li {
      cursor: pointer;
      color: #d8d8d8;
      &:hover,
      &.active {
        color: #111;
      }
      &:active {
        transform: scale(0.95);
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

#root {
  .textInputScroll {
    display: none;
  }
  &.fixed {
    display: block;
    position: fixed;
    bottom: 10px;
  }
}
