@mixin mediaSize {
  width: 180px;

  @media screen and (max-width: 900px) {
    width: 130px;
  }
}
@mixin mediaPadding {
  padding: 20px 40px;

  @media screen and (max-width: 900px) {
    padding: 20px;
  }
}
@mixin select {
  position: relative;

  input {
    display: none;
  }

  label {
    position: relative;
    display: block;
    padding-left: 18px;
    text-align: left;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
    }

    &:nth-of-type(1) {
      margin-bottom: 6px;
    }
  }
}
@mixin setBorder($borderWidth) {
  @include mediaPadding;

  position: relative;

  .border {
    position: absolute;
    background-color: #111;

    &.borderTop,
    &.borderBottom {
      left: 0;
      width: 100%;
      height: $borderWidth;
      transform: translateY(-50%);
    }

    &.borderLeft,
    &.borderRight {
      top: 0;
      width: $borderWidth;
      height: 100%;
      transform: translateX(-50%);
    }

    &.borderTop {
      top: 0;
    }
    &.borderBottom {
      top: 100%;
    }

    &.borderLeft {
      left: 0;
    }
    &.borderRight {
      left: 100%;
    }
  }
}
button {
  text-align: center;
}

.Gathering {
  @include setBorder(2px);
  .border {
    opacity: 0;
    transition: top 0.5s, left 0.5s, opacity 0.5s, background-color 1s;

    &.borderTop {
      top: -10px;
      background-color: #fed330;
    }
    &.borderBottom {
      top: calc(100% + 10px);
      transition-delay: 0.4s;
      background-color: #26de81;
    }
    &.borderLeft {
      left: -10px;
      transition-delay: 0.6s;
      background-color: #45aaf2;
    }
    &.borderRight {
      left: calc(100% + 10px);
      transition-delay: 0.2s;
      background-color: #eb3b5a;
    }
  }

  &.active {
    .border {
      opacity: 1;
      background-color: #111;
      &.borderTop {
        top: 0;
      }
      &.borderBottom {
        top: 100%;
      }
      &.borderLeft {
        left: 0;
      }
      &.borderRight {
        left: 100%;
      }
    }
  }
}

.MakeDistance {
  @include setBorder(2px);
  .border {
    transition: all 0.5s;
  }

  &:active {
    .border {
      border-radius: 100px;

      &.borderTop,
      &.borderBottom {
        transform: translateY(-50%) scaleX(0.8);
      }

      &.borderLeft,
      &.borderRight {
        transform: translateX(-50%) scaleY(0.8);
      }

      &.borderTop,
      &.borderBottom {
        height: 4px;
      }
      &.borderLeft,
      &.borderRight {
        width: 4px;
      }
    }
  }
}

.BGChangeButton {
  @include mediaSize;

  position: relative;
  background-color: #fff;
  height: 60px;
  line-height: 60px;
  border: 2px solid #2c2c54;
  box-sizing: border-box;
  transition: all 1.5s;

  &::after {
    content: "";
    position: absolute;
    top: 100;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 16px;
    height: 16px;
    background-color: #84817a;
    transition: all 1.5s;
  }

  &.active {
    background-color: #d1ccc0;
    color: #223114;

    &::after {
      background-color: #ffb142;
      transform: translate(-50%, -50%) rotate(405deg);
    }
  }
}

.RollingDia {
  @include mediaSize;

  position: relative;
  background-color: #f7f1e3;
  overflow: hidden;
  height: 60px;
  line-height: 60px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 42px;
    height: 42px;
    background-color: #aaa69d;
    transition: all 1.5s;
    z-index: -1;
  }

  &.active {
    &::after {
      left: 100%;
      transform: translate(-50%, -50%) rotate(405deg);
    }
  }
}

.BGRight {
  @include mediaSize;

  position: relative;
  padding: 20px 0;
  background-color: #2ecc71;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #f1c40f;
    transition: all 0.5s;
  }

  &:hover {
    &::after {
      left: -100%;
    }
  }
}

.FollowingCursor {
  @include select;

  &.activeUp {
    .text1 {
      color: #d65600;
    }
    &::before,
    &::after {
      top: 0;
    }
  }

  &.activeDown {
    .text2 {
      color: #d65600;
    }
    &::before,
    &::after {
      top: 55%;
    }
  }

  &.moveUp {
    &::before,
    &::after {
      top: 0 !important;
    }

    &::after {
      border-left: 0px solid #d65600 !important;
    }
  }

  &.moveDown {
    &::before,
    &::after {
      top: 55% !important;
    }

    &::after {
      border-left: 0px solid #d65600 !important;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    transition: top 0.2s;
    top: 0;
  }

  &::before {
    left: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #d65600;
  }

  &::after {
    left: 12px;
    border: 10px solid transparent;
    border-left: 14px solid #d65600;
    transition: all 0.2s;
  }

  label {
    padding-left: 30px;
    &:hover {
      color: #d65600;
    }
  }
}

.TodoList {
  position: relative;

  padding: 20px;
  padding-left: 50px;
  border: 1px solid #dfdfdf;

  fieldset {
    text-align: left;

    label {
      position: relative;
      display: block;

      span {
        cursor: pointer;
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          box-sizing: border-box;
        }

        &::before {
          left: -34px;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 2px solid #f0f0f0;
          background-color: #f0f0f0;
          transform: translateY(-50%);
        }
        &::after {
          left: -28px;
          transform: translateY(-60%) rotate(-45deg);
          width: 0px;
          height: 0px;
          border-left: 3px solid transparent;
          border-bottom: 3px solid transparent;
          transition: all 0.2s;
        }
      }
      &:not(:last-child) {
        margin-bottom: 8px;
      }

      input {
        display: none;

        &:checked {
          + span {
            color: #acacac;
            text-decoration: line-through;

            &::before {
              border: 2px solid #f0f0f0;
              background-color: transparent;
            }
            &::after {
              width: 12px;
              height: 8px;
              border-color: #119c00;
            }
          }
        }
      }
    }
  }
}

.IndicatingArrow {
  position: relative;

  input {
    display: none;
  }

  label {
    position: relative;
    display: block;
    padding-left: 18px;
    text-align: left;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 0.5s;
    }

    &::before {
      transform: translate(-6px, 3px);
      border: 6px solid transparent;
      border-left-color: black;
    }

    &::after {
      transform: translate(-15px, 6.5px);
      background-color: black;
      width: 10px;
      height: 4px;
    }

    &:nth-of-type(1) {
      margin-bottom: 6px;
    }
  }

  input:checked {
    + label {
      &::before,
      &::after {
        opacity: 1 !important;
      }

      &::before {
        transform: translate(0, 3px);
      }

      &::after {
        transform: translate(-9px, 6.5px);
      }
    }
  }
}

.BubbleCheck {
  position: relative;
  input {
    display: none;
  }

  label {
    position: relative;
    display: block;
    padding-left: 24px;
    text-align: left;
    cursor: pointer;

    &:nth-of-type(1) {
      margin-bottom: 6px;
    }

    &:hover {
      color: rgba(11, 11, 11, 0.8);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      border-radius: 50%;
      background-color: rgba(34, 166, 179, 0.5);
    }

    &::before {
      width: 10px;
      height: 10px;
      transform: translateY(-50%) scale(0);
    }

    &::after {
      width: 10px;
      height: 10px;
      transform: translateY(-50%) scale(0);
    }
  }

  input:checked {
    + label {
      &::before {
        transform: translateY(-50%) scale(1);
        transition: 0.5s 0.5s;
      }

      &::after {
        opacity: 0;
        transform: translateY(-50%) scale(1.5);
        transition: 0.5s;
      }
    }
  }
}

.Checklist {
  position: relative;
  input {
    display: none;
  }

  label {
    position: relative;
    display: block;
    padding-left: 24px;
    text-align: left;
    cursor: pointer;

    &:hover {
      color: #6ab04c;
    }

    &:nth-of-type(1) {
      margin-bottom: 6px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 1px dotted #111;
    }
  }

  input:checked {
    + label {
      &::before {
        content: "✔";
      }
    }
  }
}

.ABSlide {
  @include mediaSize;

  box-sizing: border-box;
  background-color: #30336b;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span {
    display: block;
    width: 50%;
    height: 100%;
    color: white;
    padding: 14px 0;

    &:nth-of-type(1) {
      color: #3c4086;
    }
  }

  .block {
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: -1;
    width: 50%;
    height: 100%;
    background-color: white;
  }
}

.RollingOX {
  @include mediaSize;

  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;

  &:hover {
    transform: translate(-50%, -100%) rotateX(-90deg);
    .icon {
      transform: rotateX(90deg);

      i:active {
        color: white;
        &:nth-of-type(1) {
          background-color: lighten(#4a69bd, 5%);
        }
        &:nth-of-type(2) {
          background-color: lighten(#e55039, 5%);
        }
      }
    }
  }

  .text {
    padding: 20px 0;
    display: block;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    background-color: #fad390;
  }
  .icon {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    transform: rotateX(90deg);
    transform-style: preserve-3d;
    transform-origin: center top;

    i {
      display: block;
      width: 50%;
      height: 100%;
      padding: 20px 0;
      box-sizing: border-box;
      &:nth-of-type(1) {
        background-color: #4a69bd;
      }
      &:nth-of-type(2) {
        background-color: #e55039;
      }
    }
  }
}

.Net {
  @include mediaPadding;

  position: relative;
  color: transparent;
  background-color: #0a3d62;
  transition: color 0.5s;

  &:active {
    color: white;
    .netInner {
      &.top {
        transform: translate(0, -10%);
      }
      &.bottom {
        transform: translate(0, 10%);
      }
      &.left {
        transform: translate(-10%, 0);
      }
      &.right {
        transform: translate(10%, 0);
      }
    }
  }

  .text {
    display: block;
  }

  .netInner {
    position: absolute;
    background-color: white;
    transition: all 0.5s;

    &.top,
    &.bottom {
      left: 0;
      width: 100%;
      height: 10px;
    }

    &.left,
    &.right {
      top: 0;
      width: 10px;
      height: 100%;
    }
    &.top {
      top: 0;
      border-radius: 0 0 100% 100%;
      transform: translate(0, -100%);
    }
    &.bottom {
      bottom: 0;
      border-radius: 100% 100% 0 0;
      transform: translate(0, 100%);
    }
    &.left {
      left: 0;
      border-radius: 0 100% 100% 0;
      transform: translate(-100%, 0);
    }
    &.right {
      right: 0;
      border-radius: 100% 0 0 100%;
      transform: translate(100%, 0);
    }
  }
}

.FlyAway {
  > div {
    @include mediaSize;

    position: relative;
    padding: 20px 0;
    overflow: hidden;
  }
  .text {
    position: relative;
    width: 100%;
    display: block;
    transition: all 1s;
  }

  &:hover {
    .text {
      width: 200%;
      transform: translateX(100%);
      letter-spacing: 2em;
    }
  }
}

.StretchWindow {
  position: relative;

  .icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #9980fa;
    border-radius: 50%;
    color: white;
    transition: all 0.5s;
    z-index: 1;
  }

  .text {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #9980fa;
    transform: scaleX(0);
    transform-origin: right top;
  }

  &.active {
    .icon {
      top: 0;
      left: 100%;
      transform: translate(-50%, -50%) rotate(45deg) scale(0.9);
    }
    .text {
      transform: scaleX(1);
      padding: 20px;
      background-color: #f0f0f0;
      transition: all 0.5s 0.2s;
    }
  }
}

.SlideText {
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ee5a24;
    border-radius: 50%;
    color: white;
    transition: transform 0.5s;
  }

  .text {
    width: 0%;
    overflow: hidden;
    color: transparent;
    transition: width 0.5s, color 0.5s;
  }

  &.active {
    .icon {
      transform: rotate(-45deg);
    }
    .text {
      width: 50%;
      color: #111;
    }
  }
}

.PopYesNo {
  @include mediaSize;

  position: relative;
  padding: 20px 0;
  overflow: hidden;
  transition: color 0.3s 0.2s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    z-index: -1;
    padding: 10px;
    border-radius: 20px;
    background-color: #f0f0f0;
    color: white;
    transition: all 0.7s;
  }

  &::before {
    content: "YES";
    left: 00%;
    transform: translate(-100%, -50%);
  }
  &::after {
    content: "NO";
    left: 100%;
    transform: translate(0, -50%);
    transition-delay: 0.1s;
  }

  &:hover {
    color: transparent;
    transition: color 0.3s;

    &::before {
      transform: translate(10%, -50%);
      background-color: #009432;
    }
    &::after {
      transform: translate(-110%, -50%);
      background-color: #ee5a24;
    }
  }
}

.ButtonWindow {
  position: relative;
  height: 0%;
  color: white;
  transition: padding 0.5s, color 0s;

  &.active {
    padding: 40px 30px 20px 30px;
    height: initial;
    color: #111;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: padding 0.5s, color 0.5s 0.5s;

    &::after {
      content: "CLOSE";
      padding: 12px;
      background-color: #ebebeb;
    }
  }

  &::after {
    content: "OPEN";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    padding: 12px 20px;
    border-radius: 100px;
    background-color: #b53471;
    color: white;
    font-size: 0.8em;
  }
}

.AddAndDelete {
  @include mediaPadding;

  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dfdfdf;

  &:hover {
    background-color: #119c00;

    color: white;
    .icon {
      width: 20px;
      margin-left: 4px;
      span {
        background-color: white;
      }
    }
  }

  &.active {
    &:hover {
      background-color: #d42926;

      .icon span {
        &:nth-of-type(1) {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:nth-of-type(2) {
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }

    .icon {
      span {
        &:nth-of-type(1) {
          transform: translate(-50%, -50%) rotate(0);
        }
        &:nth-of-type(2) {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
  }

  .icon {
    position: relative;
    width: 0;
    height: 20px;
    margin-left: 0;
    transition: all 0.3s;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      height: 2px;
      background-color: #111;
      transform: translate(-50%, -50%);
      transition: all 0.3s;

      &:nth-of-type(1) {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }
}

.DragBox {
  @include mediaPadding;
  transition: color 0.3s;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 0;
    z-index: -1;
    border: 1px solid transparent;
    background-color: rgba(66, 133, 244, 0);

    transform: translateY(-50%);
    transition: width 0.5s 0.5s, height 0.5s, background-color 0.5s 0.4s;
  }

  &:hover {
    color: #fff;
    transition: color 0.5s 0.5s;
    &::before {
      width: 100%;
      height: 100%;
      border-color: rgba(11, 11, 11, 0.2);
      background-color: rgba(66, 133, 244, 0.5);

      transition: width 0.5s 0.5s, height 0.5s, background-color 0s;
    }
  }
}

.Receipt {
  @include mediaPadding;

  color: white;
  background-color: #5758bb;

  &::before {
    content: "Hi, I'm Fine!";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    padding: 0px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 0 0 30px 30px;
    background-color: darken(#5758bb, 10%);
    transform: perspective(10px) rotateX(-90deg);
    transform-origin: center top;
    transition: transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955),
      height 0.5s linear, padding 0.5s linear;
  }

  &.active {
    &::before {
      height: initial;
      padding: 20px 0;
      transform: perspective(10px) rotateX(0deg);
    }
  }
}

.FullScreen {
  @include mediaSize;

  height: 60px;
  padding: 20px 0;
  box-sizing: border-box;
  background-color: cadetblue;
  transition: width 0.5s, height 0.5s, background-color 0s, color 0s;

  &:hover {
    width: 100%;
    height: 100%;
    color: white;
    background-color: cornflowerblue;
    transition: width 0.5s, height 0.5s, background-color 0s 0.3s, color 0s 0.3s;
  }
}

.PopChange {
  @include mediaPadding;

  position: relative;
  overflow: hidden;
  padding-top: 40px;
  border-radius: 40px 40px 0 0;
  color: white;
  background-color: #f0f0f0;

  &:hover {
    &::after {
      top: 0;
    }
  }

  &::after {
    content: "Pop Change!";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: top 0.5s cubic-bezier(0.95, 0.55, 0.795, 0.035);
    padding: inherit;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: inherit;
    box-sizing: border-box;
    background-color: rebeccapurple;
  }
}

.MovieCut {
  @include mediaSize;

  position: relative;
  overflow: hidden;
  padding: 20px 10px;

  &:hover {
    &::after {
      transform: rotate(0deg);
    }
  }

  &.active {
    color: #d42926;
  }

  &:before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
  }

  &:before {
    left: 0;
    bottom: 0px;
    height: 12px;
    background: linear-gradient(
      225deg,
      black 0,
      black 10%,
      white 10%,
      white 15%,
      black 15%,
      black 20%,
      white 20%,
      white 25%,
      black 25%,
      black 30%,
      white 30%,
      white 35%,
      black 35%,
      black 100%
    );
  }
  &::after {
    height: 100%;
    right: 0;
    bottom: 12px;
    transform: rotate(90deg);
    transform-origin: right bottom;
    transition: transform 0.2s;
    background: linear-gradient(
      285deg,
      black 0,
      black 10%,
      white 10%,
      white 15%,
      black 15%,
      black 20%,
      white 20%,
      white 25%,
      black 25%,
      black 30%,
      white 30%,
      white 35%,
      black 35%,
      black 100%
    );
  }
}

.MakeFrame {
  @include mediaPadding;

  position: relative;
  opacity: 0.5;
  transition: 0.5s linear;

  .border {
    position: absolute;
    background-color: #111;
    opacity: 0;
    transition: 0.5s linear;
    &.borderTop {
      top: 0;
      left: 0;
    }

    &.borderLeft {
      bottom: 0;
      left: 0;
    }

    &.borderBottom {
      bottom: 0;
      right: 0;
    }

    &.borderRight {
      top: 0;
      right: 0;
    }
    &.borderTop,
    &.borderBottom {
      width: 0;
      height: 2px;
    }
    &.borderLeft,
    &.borderRight {
      width: 2px;
      height: 0;
    }
  }

  &:hover {
    opacity: 1;
    .border {
      opacity: 1;
      &.borderTop,
      &.borderBottom {
        width: 100%;
        height: 2px;
      }
      &.borderLeft,
      &.borderRight {
        width: 2px;
        height: 100%;
      }
    }
  }
}

.BGStripe {
  @include mediaSize;
  padding: 20px 0;
  border: 2px solid #ffc312;

  &:hover {
    color: #d31d1d;

    animation: moveBG_stripe 1.5s infinite linear;
    background: repeating-linear-gradient(
      45deg,
      #ffc312 0,
      #ffc312 4px,
      transparent 4px,
      transparent 7.3px
    );
    @media screen and (max-width: 900px) {
      background: repeating-linear-gradient(
        45deg,
        #ffc312 0,
        #ffc312 4px,
        transparent 4px,
        transparent 8px
      );
    }
    @keyframes moveBG_stripe {
      100% {
        background-position: 180px 0;
        @media screen and (max-width: 900px) {
          background-position: 130px 0;
        }
      }
    }
  }
}

.DetectClick,
.DetectEnter {
  @include mediaPadding;

  position: relative;
  overflow: hidden;
  color: white;
}

.DetectClick {
  background-color: rgba(0, 98, 102, 1);

  .circle {
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);

    &.active {
      animation-name: detectClick;
      animation-fill-mode: forwards;
      animation-duration: 0.7s;

      @keyframes detectClick {
        0% {
          opacity: 0;
          transform: translate(-50%, -50%) scale(0);
          background-color: rgba(255, 255, 255, 0.3);
        }
        99% {
          opacity: 1;
          transform: translate(-50%, -50%) scale(0.95);
          background-color: rgba(255, 255, 255, 0.4);
        }
        100% {
          opacity: 0;
          transform: translate(-50%, -50%) scale(1);
          background-color: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
}
.DetectEnter {
  color: rgba(238, 90, 36, 0.8);
  border: 2px solid rgba(238, 90, 36, 0.8);
  transition: color 1s;

  .circle {
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1;
    transition: transform 1s;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgba(238, 90, 36, 1);
  }

  &.active {
    color: white;
    .circle {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.CtrlA,
.CtrlC,
.CtrlV {
  @include mediaPadding;

  position: relative;
  box-sizing: border-box;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}

.CtrlA {
  &:hover {
    &::before {
      border-color: transparent;
      background-color: #c4e538;
      transition: border-color 0.25s ease-in-out, background-color 0.5s 0.2s;
    }
    &::after {
      border: 4px dashed #111;
    }
  }

  &::before {
    background-color: beige;
    border: 4px solid #111;
    z-index: -1;
    transition: border-color 0.25s ease-in-out;
  }
  &::after {
    border: 0px dashed #111;
    transition: all 0.25s ease-in-out;
  }
}

.CtrlC {
  &:hover {
    &::before {
      background-color: #ffc312;
    }

    &::after {
      width: calc(100% - 14px);
      height: calc(100% - 14px);
      border-color: #111;
    }
  }

  &::before {
    background-color: #c4e538;
    border: 4px solid #111;
    z-index: -1;
    transition: all 0s ease-in-out 0.25s;
  }
  &::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.25s ease-in-out;
    border: 4px dashed transparent;
  }
}

.CtrlV {
  &:hover {
    &::before {
      top: 14px;
      left: 14px;
      border-color: #111;
    }
    &::after {
      background-color: beige;
    }
  }

  &::before {
    transition: all 0.25s ease-in-out;
    border: 4px dashed transparent;
    z-index: -2;
  }
  &::after {
    background-color: #ffc312;
    border: 4px solid #111;
    z-index: -1;
    transition: all 0s 0.25s;
  }
}

.DrawCircle {
  @include mediaSize;

  position: relative;
  height: 180px;
  border-radius: 100%;
  text-align: center;

  @media screen and (max-width: 900px) {
    height: 130px;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 100%;
  }

  &:hover {
    color: #6477b9;
    transition: color 0s 0.5s;

    &::before,
    &::after {
      border: 2px solid transparent;
      width: 100%;
      height: 100%;
    }

    &::before {
      border-top-color: #6477b9;
      border-right-color: #6477b9;
      border-bottom-color: #6477b9;
      transition: border-top linear 0.1s, border-right linear 0.1s 0.1s,
        border-bottom linear 0.1s 0.2s;
    }
    &::after {
      border-top-color: #6477b9;
      transform: rotate(270deg);
      transition: border-top linear 0s, transform linear 0.4s;
    }
  }
}

.DrawLine,
.OverlayLine {
  @include mediaPadding;

  position: relative;
  color: #f0f0f0;
  box-shadow: inset 0 0 0px 4px #f0f0f0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 4px solid transparent;
  }

  &::before {
    top: 0;
    left: 0;
  }
  &::after {
    right: 0;
    bottom: 0;
  }

  &:hover {
    color: #60daaa;
    transition: color 0s 1s;

    &::before,
    &::after {
      border: 4px solid transparent;
      width: 100%;
      height: 100%;
    }

    &::before {
      border-top-color: #60daaa;
      border-right-color: #60daaa;
      transition: width 0.25s, height 0.25s 0.25s;
    }
    &::after {
      border-left-color: #60daaa;
      border-bottom-color: #60daaa;
      transition: border-color 0s 0.5s, width 0.25s 0.5s, height 0.25s 0.75s;
    }
  }
}

.OverlayLine {
  color: #111;
  box-shadow: inset 0 0 0 4px #111;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 4px solid transparent;
  }

  &:hover {
    color: #f45e61;
    transition: color 0.5s;

    &::before,
    &::after {
      border: 4px solid transparent;
      width: 100%;
      height: 100%;
    }

    &::before {
      border-top-color: #f45e61;
      border-right-color: #f45e61;
      transition: width 0.25s, height 0.25s 0.25s;
    }
    &::after {
      border-bottom-color: #f45e61;
      border-left-color: #f45e61;
      transition: width 0.25s 0.25s, height 0.25s;
    }
  }
}

.DoubleWindow {
  @include mediaPadding;

  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 2px solid black;
  }

  &::before {
    top: 0;
    left: 0;
  }
  &::after {
    right: 0;
    bottom: 0;
  }

  &:hover {
    &::before,
    &::after {
      width: 100%;
      height: 100%;
      transition: 0.5s;
      transition-property: top, left, right, bottom;
    }

    &::before {
      top: -6px;
      left: -6px;
    }
    &::after {
      right: -6px;
      bottom: -6px;
    }
  }
}

.BG_O,
.BG_X {
  @include mediaSize;

  position: relative;
  height: 60px;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-color: #dbdbdb;
  }

  &:hover {
    color: transparent;
  }
}

.BG_O {
  &:hover {
    &::before,
    &::after {
      border-radius: 100%;
      height: 180px;

      @media screen and (max-width: 900px) {
        height: 130px;
      }
    }
    &::after {
      transition: transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    &::before {
      transform: translate(-50%, -50%);
      background-color: #119c00;
    }
    &::after {
      background-color: white;
      transform: translate(-50%, -50%) scale(0.8);
    }
  }
}

.BG_X {
  &::before,
  &::after {
    transition: all 0.2s;
  }

  &:hover {
    &::before,
    &::after {
      height: 20px;
      background-color: #d42926;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

button.Puding {
  @include mediaPadding;

  background: linear-gradient(to top, #fde376 93%, #841816 93%);
  transform-origin: center bottom;
  transform: translate(-50%, -50%) perspective(5em) rotateX(8deg);
  transition: 0.5s;

  &:active {
    animation-name: puding;
    animation-duration: 0.8s;

    @keyframes puding {
      0% {
        transform: translate(-50%, -50%) perspective(5em) rotateX(8deg);
      }
      20% {
        transform: translate(-50%, -50%) perspective(5em) rotateX(8deg)
          skewX(-12deg);
      }
      40% {
        transform: translate(-50%, -50%) perspective(5em) rotateX(8deg)
          skewX(12deg);
      }
      60% {
        transform: translate(-50%, -50%) perspective(5em) rotateX(8deg)
          skewX(-5deg);
      }
      80% {
        transform: translate(-50%, -50%) perspective(5em) rotateX(8deg)
          skewX(5deg);
      }
      100% {
        transform: translate(-50%, -50%) perspective(5em) rotateX(8deg);
      }
    }
  }
}

.SpeechBubble {
  @include mediaPadding;

  background-color: #ff7979;
  transition: all 0.5s;
  border-radius: 20px;
  color: #fff;

  &:hover {
    transform: translate(-50%, calc(-50% - 10px));

    &::before {
      bottom: -10px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ff7979;
    transition: all 0.5s;
  }
}

.CornerUp {
  @include mediaPadding;

  background-color: #dff9fb;

  &:hover {
    &:after {
      width: 20px;
      height: 20px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 0px;
    transition: all 0.5s;
    background: linear-gradient(45deg, #fff 50%, #c7ecee 50%);
  }
}

.Trees {
  background: linear-gradient(-5deg, #924d08 2%, #b35a00);

  padding: 10px 20px;
  .text {
    color: white;
  }

  &:active {
    .tree {
      &.tree1 {
        height: 6px;
        &:after {
          border-bottom-width: 14px;
        }
      }
      &.tree2 {
        height: 10px;
        &:after {
          border-bottom-width: 20px;
        }
      }
    }
  }

  .tree {
    position: absolute;
    bottom: 100%;
    background: linear-gradient(-50deg, #924d08 5%, #cc6c0b);
    transition: all 0.5s;

    &::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      transition: all 0.2s;
    }

    &.tree1 {
      width: 10px;
      height: 0px;
      right: 40px;
      &::after {
        border-bottom: 0px solid #14720b;
        transition-delay: 0.5s;
      }
    }

    &.tree2 {
      right: 10px;
      width: 10px;
      height: 0px;
      transition-delay: 0.2s;
      &::after {
        border-bottom: 0px solid #14720b;
        transition-delay: 0.7s;
      }
    }
  }
}

.ShakeYourHead,
.ShakeYourBelly {
  @include mediaPadding;

  color: #8a4603;
  &:hover {
    animation-iteration-count: infinite;
  }
}

.ShakeYourHead {
  border-radius: 10px 10px 6px 6px;
  padding-top: 40px;
  background: linear-gradient(#6e6c6a 16px, #ffe4b4 16px);

  &:hover {
    animation-name: shakeHead;
    transform-origin: center top;
    animation-duration: 1s;

    @keyframes shakeHead {
      0% {
        border-radius: 10px 10px 6px 6px;
        transform: translate(-50%, -50%);
      }
      15% {
        border-radius: 10px 10px 14px 14px;
        transform: translate(-60%, -70%);
      }
      50% {
        border-radius: 10px 10px 6px 6px;
        transform: translate(-50%, -50%);
      }
      65% {
        border-radius: 10px 10px 14px 14px;
        transform: translate(-40%, -70%);
      }
      100% {
        border-radius: 10px 10px 6px 6px;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.ShakeYourBelly {
  border-radius: 0 0 20px 20px;
  padding-bottom: 40px;
  background: radial-gradient(50% 300% at 50% 80%, #8a4603 1%, #f8d8a1 3%);
  transform-origin: center top;

  &:hover {
    animation-name: shakeBelly;
    animation-duration: 2s;

    @keyframes shakeBelly {
      0% {
        transform: translate(-50%, -50%) skewX(0deg);
      }
      9% {
        transform: translate(-50%, -50%) skewX(-10deg);
      }
      18% {
        transform: translate(-50%, -50%) skewX(0deg);
      }
      27% {
        transform: translate(-50%, -50%) skewX(0deg);
      }
      36% {
        transform: translate(-50%, -50%) skewX(-10deg);
      }
      45% {
        transform: translate(-50%, -50%) skewX(0deg);
      }
      51% {
        transform: translate(-50%, -50%) skewX(0deg);
      }
      62% {
        transform: translate(-50%, -50%) skewX(10deg);
      }
      73% {
        transform: translate(-50%, -50%) skewX(0deg);
      }
      82% {
        transform: translate(-50%, -50%) skewX(0deg);
      }
      91% {
        transform: translate(-50%, -50%) skewX(10deg);
      }
      100% {
        transform: translate(-50%, -50%) skewX(0deg);
      }
    }
  }
}

.Yeahhhh,
.Noooope {
  @include mediaPadding;
  background-color: #dbdbdb;
  color: white;

  &:hover {
    background-color: transparent;
  }
}

.Yeahhhh {
  &:hover {
    animation-name: yeah;
    animation-iteration-count: infinite;
    animation-duration: 0.1s;
    animation-direction: alternate;
    background-color: #119c00;
    border-radius: 40px;

    @keyframes yeah {
      from {
        transform: translate(-50%, -45%);
      }
      to {
        transform: translate(-50%, -55%);
      }
    }
  }
}

.Noooope {
  &:hover {
    animation-name: Nope;
    animation-iteration-count: infinite;
    animation-duration: 0.2s;
    color: #d42926;

    @keyframes Nope {
      0% {
        transform: translate(-50%, -50%) scale(1);
      }
      15% {
        transform: translate(-45%, -50%) scale(1.5);
      }
      50% {
        transform: translate(-50%, -50%) scale(1);
      }
      85% {
        transform: translate(-55%, -50%) scale(1.5);
      }
      100% {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}

.MasterCircle {
  position: relative;
  transition: color 0.3s;
  transition-delay: 0.1s;

  &:active {
    color: white;
    &:before {
      transform: translate(-15%, -50%) scale(1.1);
      background-color: rgba(228, 0, 26, 0.7);
    }
    &:after {
      transform: translate(-85%, -50%) scale(1.1);
      background-color: rgba(239, 153, 26, 0.7);
    }
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &:before {
    background-color: rgba(228, 0, 26, 0);
    transform: translate(-15%, -50%) scale(0);
  }
  &:after {
    background-color: rgba(239, 153, 26, 0);
    transform: translate(-85%, -50%) scale(0);
    transition-delay: 0.3s;
  }
}

.SpinningBorder {
  @include mediaSize;
  height: 60px;

  &:hover {
    rect {
      stroke-dasharray: 0%;
      stroke-dashoffset: 0%;
      stroke-width: 4px;
    }
  }
  svg,
  rect {
    width: 100%;
    height: 100%;
  }

  svg {
    position: relative;
  }

  rect {
    stroke-width: 2px;
    fill: transparent;
    stroke: #06d6a0;
    stroke-dasharray: 400%;
    stroke-dashoffset: 1200%;
    transition: 1s;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.KungDuck {
  @include mediaPadding;
  background-color: #ecf0f1;
  border-radius: 40px;
  animation-duration: 0.5s;

  @keyframes kungduck {
    0% {
      transform: translate(-50%, -50%);
    }
    20% {
      transform: translate(-50%, -100%) rotate(10deg);
    }
    40% {
      background-color: #ecf0f1;
      transform: translate(-50%, -65%) rotate(-10deg);
    }
    60% {
      background-color: #f39c12;
      transform: translate(-50%, -40%) rotate(5deg);
    }
    80% {
      background-color: #ecf0f1;
      transform: translate(-50%, -50%) rotate(-10deg);
    }
    100% {
      background-color: #f39c12;
      color: white;
      transform: translate(-50%, -50%);
    }
  }

  &.active {
    animation-name: kungduck;
    animation-fill-mode: forwards;
  }
}

.Overlap {
  @include mediaSize;

  overflow: hidden;
  text-align: center;
  box-sizing: border-box;

  span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 30px 0;
    color: #78a6ff;
    transition: color 0.5s;
  }

  &:hover {
    &::before,
    &::after,
    span::before,
    span::after {
      height: 100%;
    }
    span {
      color: white;
    }
  }

  &::before,
  &::after,
  span::before,
  span::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0;
    left: 0;
    background-color: rgba(112, 161, 255, 0.5);
    transition: height 0.3s ease-in;
  }
  &::before,
  span::before {
    top: 0;
  }
  &::after,
  span::after {
    bottom: 0;
  }
  span::before,
  span::after {
    transition-delay: 0.3s;
  }
}

.Pung {
  @include mediaSize;

  overflow: hidden;
  text-align: center;
  height: 60px;
  box-sizing: border-box;

  &:hover {
    &::before {
      animation-name: left;
    }
    &::after {
      animation-name: right;
    }
  }

  &::before {
    left: -20%;
    background-color: rgba(255, 165, 2, 0.6);
  }
  &::after {
    left: 110%;
    background-color: rgba(46, 213, 115, 0.6);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    z-index: -1;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes left {
    0% {
      left: -20%;
    }
    20% {
      left: 50%;
      transform: translate(-50%, -50%);
    }
    100% {
      transform: translate(-50%, -50%) scale(50);
    }
  }

  @keyframes right {
    0% {
      left: 110%;
    }
    20% {
      left: 50%;
      transform: translate(-50%, -50%);
    }
    100% {
      transform: translate(-50%, -50%) scale(50);
    }
  }
}

.Curtain {
  @include mediaSize;

  text-align: center;
  overflow: hidden;
  height: 60px;
  box-sizing: border-box;
  color: white;
  transition: color 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &:hover {
    color: #2ed573;
    &::before {
      right: 100%;
    }
    &::after {
      left: 100%;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 120px solid transparent;
    border-bottom-color: #2ed573;
    box-sizing: border-box;
    transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  &::before {
    right: 0%;
  }
  &::after {
    left: 0%;
  }
}

.Diamond {
  @include mediaSize;

  text-align: center;
  border: 1px solid #9b59b6;
  overflow: hidden;
  height: 60px;
  box-sizing: border-box;
  color: #9b59b6;
  transition: color 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &:hover {
    color: white;
    &::before,
    &::after {
      transform: translateX(0);
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 30px solid #9b59b6;
    box-sizing: border-box;
    transition: transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  &::before {
    transform: translateX(-100%);
    border-right-color: transparent;
  }
  &::after {
    transform: translateX(100%);

    border-left-color: transparent;
  }
}

.NuneTine {
  @include mediaSize;

  text-align: center;
  position: relative;
  overflow: hidden;

  span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 20px 0;
    color: #296b46;
    transition: color 0.3s ease-in;
  }

  &:hover {
    &::before,
    &::after,
    span::before,
    span::after {
      width: 50%;
      height: 50%;
    }
    span {
      color: white;
      transition-delay: 0.3s;
    }
  }

  &::before,
  &::after,
  span::before,
  span::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    transition: all 0.5s;
    background-color: #296b46;
    z-index: -1;
  }

  &::before {
    top: 0;
    left: 0;
  }
  &::after {
    bottom: 0;
    left: 0;
  }
  span::before {
    right: 0;
    top: 0;
  }
  span::after {
    bottom: 0;
    right: 0;
  }
}

.UpdownUpdown {
  @include mediaSize;

  text-align: center;
  overflow: hidden;

  span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    color: #a7b035;
    transition: color 0.5s ease-in-out;
  }

  &:hover {
    &::before,
    &::after,
    span::before,
    span::after {
      height: 100%;
    }
    span {
      color: #e5e8c4;
    }
  }

  &::before,
  &::after,
  span::before,
  span::after {
    content: "";
    position: absolute;
    width: 25%;
    height: 0%;
    z-index: -1;
    transition: height 0.5s ease-in-out;
    background-color: #8a9a60;
  }

  &::before {
    left: 0%;
    top: 0;
  }
  &::after {
    left: 25%;
    bottom: 0;
  }
  span::before {
    left: 50%;
    top: 0;
  }
  span::after {
    left: 75%;
    bottom: 0;
  }
}

.Shutter {
  @include mediaPadding;

  text-align: center;
  color: #dbdbdb;
  overflow: hidden;

  &:hover {
    color: #252d07;
    transition-delay: 0.2s;
    &::before {
      animation-name: top;
    }
    &::after {
      animation-name: bottom;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #252d07;
    transition: all 0.5s;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }
  &::before {
    top: 100%;
    @keyframes top {
      0% {
        top: 100%;
      }
      30% {
        top: 50%;
      }
      100% {
        top: 100%;
      }
    }
  }
  &::after {
    bottom: 100%;
    @keyframes bottom {
      0% {
        bottom: 100%;
      }
      30% {
        bottom: 50%;
      }
      100% {
        bottom: 100%;
      }
    }
  }
}

.Hover3D {
  @include mediaPadding;

  background: lighten(#1abc9c, 3%);
  border: 1px solid darken(#1abc9c, 4%);
  box-shadow: 0px 2px 0 darken(#1abc9c, 5%), 2px 4px 6px darken(#1abc9c, 2%);
  font-weight: 900;
  transition: all 0.3s;

  &:hover {
    background: darken(#1abc9c, 1.5%);
    border: 1px solid rgba(#000, 0.05);
    box-shadow: 1px 1px 2px rgba(#fff, 0.2);
    color: lighten(#1abc9c, 18%);
    text-decoration: none;
    text-shadow: -1px -1px 0 darken(#1abc9c, 9.5%);
    transition: all 0.5s;
  }
}

.ShiningWindow {
  @include mediaPadding;

  position: relative;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.4);
  background-color: black;

  &::after {
    content: "";
    position: absolute;
    left: -100%;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 70%;
    opacity: 0;
    transform: rotate(-45deg) scaleX(2.5);
  }

  &:hover {
    color: rgba(255, 255, 255, 1);
    transition: color 0.8s;
    &::after {
      left: 100%;
      opacity: 1;

      transition: left 0.8s;
    }
  }
}

.Wi-de {
  position: relative;
  transition: all 0.5s;
  padding: 14px 4px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.5s;
    width: 0;
    height: 2px;
    background-color: rgba(142, 68, 173, 1);
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }

  &:hover {
    letter-spacing: 0.1em;
    color: rgba(142, 68, 173, 1);

    &::before,
    &::after {
      width: 100%;
    }
  }
}

.HighlightPen {
  @include mediaPadding;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(241, 196, 15, 0.7);
    z-index: -1;

    transform: scaleX(0);
    transform-origin: center right;
    transition: transform 0.3s ease;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: center left;
    }
  }
}

.PoppingCircle {
  .text {
    position: relative;
  }

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: transform 1s cubic-bezier(0.12, 1.21, 0.57, -0.68);
    width: 160px;
    height: 160px;
    @media screen and (max-width: 900px) {
      width: 140px;
      height: 140px;
    }
    background-color: #ac3;
    border-radius: 50%;
  }

  &:active {
    div {
      transform: translate(-50%, -50%) scale(0.8);
    }
  }
}

.BlurText {
  transition: filter 0.5s ease-in-out;

  &:hover {
    filter: blur(20px);
  }
}

.Clicker3D {
  background-color: #68efad;
  padding: 10px 60px;
  border-radius: 60px;
  box-shadow: 2px 4px 0px 0px #691a99;
  transition: all 0.2s;

  @media screen and (max-width: 900px) {
    padding: 10px 40px;
  }

  &:active {
    top: calc(50% + 5px);
    box-shadow: 0px 0px 0px 0px #000;
  }
}

.Gooey {
  position: relative;
  width: 100px;
  height: 100px;
  ~ span {
    color: white !important;
  }
  &:hover {
    .blurred {
      &::before {
        transform: translate(-50%, -50%) scale(0.9);
        top: 50%;
        left: 50%;
      }
      &::after {
        transform: translate(-50%, -50%) scale(0.3);
        top: 100%;
        left: 105%;
      }

      > span:nth-of-type(1) {
        transform: scale(0.6);
        top: -40%;
        left: -25%;
      }
      > span:nth-of-type(2) {
        transform: scale(0.4);
        top: 40%;
        left: -20%;
      }
    }
  }
  .blurred {
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    filter: url(#goo);

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #4267b2;
      border-radius: 100%;
      transition: 1.6s cubic-bezier(0, 2, 0.61, -0.05);
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #4267b2;
      border-radius: 100%;
      transition: 1.3s cubic-bezier(0, 2, 0.61, -0.05);
    }

    > span:nth-of-type(1),
    > span:nth-of-type(2) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      background-color: #4267b2;
      transition: 1s cubic-bezier(0, 2, 0.61, -0.05);
    }
  }
}

.SkewBG {
  width: 180px;
  border: 2px solid #dbdbdb;
  padding: 12px;
  color: #dbdbdb;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;

  @media screen and (max-width: 900px) {
    width: 130px;
  }

  &::after {
    content: "";
    width: 0px;
    height: 120%;
    position: absolute;
    left: -10%;
    bottom: 0;
    background-color: #f7f7f7;
    transform: skewX(15deg);
    z-index: -1;
    transition: 0.5s;
  }

  &:hover {
    color: #f7f7f7;
    border-color: #ee1f1f;

    &:after {
      left: -10%;
      width: 120%;
      background-color: #ee1f1f;
    }
  }
}

.Wavey {
  color: #dbdbdb;
  padding: 15px 40px;
  border: 1px solid #dbdbdb;
  outline: 1px solid rgba(241, 196, 15, 0.5);
  transition: all 0.7s;

  &:hover {
    color: #f1c40f !important;
    text-shadow: 0 0 20px rgba(241, 196, 15, 0.7);
    box-shadow: inset 0 0 10px rgba(241, 196, 15, 0.7),
      0 0 30px rgba(241, 196, 15, 0.7);
    outline-color: rgba(241, 196, 15, 0);
    outline-offset: 10px;
  }
}

.MoveBehind {
  width: 180px;

  @media screen and (max-width: 900px) {
    width: 130px;
  }
  padding: 40px;
  box-sizing: border-box;
  overflow: hidden;
  ~ span {
    color: white;
  }

  &:hover {
    .wave {
      &:before,
      &:after {
        top: 250%;
      }
    }
  }

  .wave {
    width: 100%;
    height: 100%;
    background-color: #444857;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.4s;

    &::before,
    &::after {
      width: 200%;
      height: 200%;
      content: "";
      position: absolute;
      top: 150%;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.5s ease-out;
    }

    &::before {
      border-radius: 45%;
      background-color: rgba(20, 20, 20, 1);
      animation: wave 5s linear infinite;
    }

    &::after {
      border-radius: 40%;
      background-color: rgba(20, 20, 20, 0.5);
      animation: wave 10s linear infinite;
    }
  }

  @keyframes wave {
    0% {
      transform: translate(-50%) rotate(0deg);
    }

    100% {
      transform: translate(-50%) rotate(360deg);
    }
  }
}

.CircleArrow {
  position: relative;
  width: 200px;
  height: 60px;
  display: flex;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  color: white;

  @media screen and (max-width: 900px) {
    width: 130px;
    height: 40px;
    font-size: 0.7em;
  }

  span {
    position: relative;
    z-index: 2;

    &.add {
      width: 24px;
      height: 24px;
    }
  }

  .icon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    margin-left: 4px;
    transition: 500ms ease;
    transition-property: left;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fc6100;
    border-radius: 60px;
    z-index: 1;
    transition: transform 500ms ease;
  }

  &:hover {
    &::after {
      transform: translateX(calc(100% - 60px));
      @media screen and (max-width: 900px) {
        transform: translateX(calc(100% - 40px));
      }
    }

    .icon {
      position: fixed;
      left: calc(100% - 32px);
      transform: translate(-50%, -15%);
      @media screen and (max-width: 900px) {
        left: calc(100% - 24px);
      }
    }
  }
}

.Layered {
  position: relative;
  width: 120px;
  height: 120px;
  text-align: center;
  line-height: 110px;
  background-color: #f5b0d6;
  transition: 0.2s;
  transform: translate(0, 0) rotateY(0) skewY(0);

  @media screen and (max-width: 900px) {
    transform: translate(0, 0) rotateY(0) skewY(0) scale(0.8);
  }

  &:hover {
    transform: translate(-50px, -55px) rotateY(-15deg) skewY(-10deg);

    @media screen and (max-width: 900px) {
      transform: translate(-70px, -60px) rotateY(-15deg) skewY(-10deg)
        scale(0.8);
    }

    span {
      &:nth-child(1) {
        transform: translate(8px, 4px);
        background-color: #e08dbb;
      }
      &:nth-child(2) {
        transform: translate(16px, 8px);
        background-color: #bd6093;
      }
      &:nth-child(3) {
        transform: translate(24px, 12px);
        background-color: #94386a;
      }
      &:last-child {
        transform: translate(30px, 16px);
        transition-delay: 0.2s;

        &::before {
          width: 100%;
          transition-delay: 0.4s;
        }
        &::after {
          top: 0;
          height: 100%;
          transition-delay: 0.6s;
        }
      }
    }
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    transform: translate(0, 0);

    &:last-child {
      transform: translate(-4px, -4px);
      transition: 0.2s;
      z-index: 0;
      opacity: 0.5;
      border-top: 1px solid black;
      border-left: 1px solid black;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.2s;
      }

      &::before {
        width: 0;
        height: 100%;
        border-bottom: 1px solid black;
      }
      &::after {
        width: 100%;
        height: 0;
        top: 100%;
        border-right: 1px solid black;
      }
    }
  }
}

.Bubble {
  div {
    @include mediaPadding;
  }

  border: 2px solid #111;
  border-radius: 24px;

  &:hover {
    span {
      &:nth-of-type(1) {
        width: 20px;
        height: 20px;
        top: -40%;
        left: 105%;

        @media screen and (max-width: 900px) {
          left: 92%;
        }
      }
      &:nth-of-type(2) {
        width: 10px;
        height: 10px;
        top: 80%;
        left: -10%;
      }
      &:nth-of-type(3) {
        width: 25px;
        height: 25px;
        top: 105%;
        left: 107%;

        @media screen and (max-width: 900px) {
          left: 89%;
        }
      }
    }
  }

  div {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background-color: white;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    transition: 0.5s;

    &:nth-of-type(2) {
      transition-delay: 0.03s;
    }
    &:nth-of-type(3) {
      transition-delay: 0.05s;
    }
  }
}

.WaveBrick {
  position: relative;
  width: 180px;
  height: 60px;

  @media screen and (max-width: 900px) {
    transform: translate(-50%, -50%) scale(0.75) !important;
  }

  &:hover {
    div {
      height: 120%;
      transition: 0.4s;
    }
    span {
      opacity: 0.7;
    }
  }

  span {
    position: relative;
    z-index: 10;
    color: #94386a;
    transition: 0.4s;
  }
  div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 22.5px;
    height: 100%;
    background-color: #fc2;
    transition: 0.7s;

    &:nth-of-type(1),
    &:nth-of-type(8) {
      transition-delay: 0.3s;
    }
    &:nth-of-type(2),
    &:nth-of-type(7) {
      transition-delay: 0.2s;
    }
    &:nth-of-type(3),
    &:nth-of-type(6) {
      transition-delay: 0.1s;
    }
    &:nth-of-type(4),
    &:nth-of-type(5) {
      transition-delay: 0s;
    }
  }
}

.Ripple {
  position: relative;
  width: 180px;
  height: 60px;
  filter: url("#Ripple");

  @media screen and (max-width: 900px) {
    transform: translate(-50%, -50%) scale(0.6) !important;
  }

  &:hover {
    div {
      height: 120%;
      transition: 0.4s cubic-bezier(0, 2, 0.7, 2);
    }
    span {
      opacity: 0.7;
    }
  }

  span {
    position: relative;
    z-index: 10;
    color: #2d3436;
    transition: 0.4s;
  }
  div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 22.5px;
    height: 100%;
    background-color: #81ecec;
    transition: 0.7s cubic-bezier(0.1, 1, 0.2, 4);

    &:nth-of-type(1),
    &:nth-of-type(8) {
      transition-delay: 0.3s;
    }
    &:nth-of-type(2),
    &:nth-of-type(7) {
      transition-delay: 0.2s;
    }
    &:nth-of-type(3),
    &:nth-of-type(6) {
      transition-delay: 0.1s;
    }
    &:nth-of-type(4),
    &:nth-of-type(5) {
      transition-delay: 0s;
    }
  }
}

.VerticalBrick {
  @include mediaSize;

  height: 50px;
  border: 6px double #111;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  span {
    position: absolute;
    z-index: 10;
    transition: 0.7s;
  }

  &:hover {
    span {
      color: white;
    }
    ul > li {
      left: 0 !important;
    }
  }

  ul {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 80%;

    &.side0 {
      left: 0;
      li {
        left: -105%;
      }
    }
    &.side1 {
      display: flex;
      flex-direction: column-reverse;
      left: 20%;

      li {
        left: 105%;
      }
    }
    li {
      position: relative;
      width: 100%;
      height: 10%;
      background-color: #111;
      transition: 0.7s;
    }
  }
}

.Neon {
  @include mediaSize;

  padding: 20px 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.5s ease-in-out;
  transition-property: box-shadow, background-color;

  @media screen and (max-width: 900px) {
    transform: translate(-50%, -50%) scale(0.8) !important;
  }

  &:hover {
    background-color: #45e924;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    box-shadow: 0px 0px 5px #45e924, 0px 0px 25px #45e924, 0px 0px 50px #45e924,
      0px 0px 100px #45e924;
  }
}

.MovingBot {
  @include mediaSize;

  position: relative;
  padding: 20px 0;
  overflow: hidden;
  text-align: center;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, #fe85fe);
  }

  &:hover {
    &::after {
      left: 100%;
      transition: left 1s;
    }
  }
}
